body {
  font-size: 150%;
}

label {
  display: block;
}

input[type="radio"] {
  display: none;
}

/* Wrapper for the entire page. */
#content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 20px;
}

#show-nav {
  cursor: pointer;

  position: fixed;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;

  font-size: 125%;
  font-weight: bold;
  background-color: #eee;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
}

#show-nav:hover {
  color: #fff;
  background-color: #bbb;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -245px;
  width: 200px;
  padding: 20px;

  font-family: sans-serif;
  border-right: 5px solid #000;

  /* Make the nav cover up the body */
  background-color: #fff;
  z-index: 1;

  /* Slide out */
  transition: left 0.5s;
}

#nav-wrapper input:checked + nav {
  left: 0;

  /* Slide in */
  transition: left 0.5s;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

section {
  display: none;

  position: fixed;
  top: 0;
  left: 245px;
  right: 245px;

  padding: 20px;
}

input[name="section"]:checked + section {
  display: block;
}

.section-link {
  cursor: pointer;

  padding: 0.5ex 0.5em;

  display: block;
  color: #789;
}

.section-link:hover {
  color: #345;
  background-color: #def;
}
